/*
* {
    margin: 0;
    padding: 0;
}
 */

.menu-item
{
    border: 1px solid #999;
    margin: 0.5em;
}

.menu-item > button
{
    width: 100%;
    color: #000 /*#FFF*/;
    background-color: #F6F6F6; /*#007FFF*/
    border: none;
    padding: 0.6em;
    text-align: left;
}

.menu-item > button::before
{
    margin: 1em;
    content: '\25b6'; /*25bc*/
}

.menu-content
{
    display: none;
}

.menu-content-deployed
{
    display: flex;
    align-items: center;
}

.menu-button-deployed
{
    color: #FFF!important;
    background-color: #007FFF!important;
}

.menu-button-deployed::before
{
    content: '\25bc'!important;
}

.menu-content > *
{
    margin: 1em;
}

.menu-content > img
{
    width: 400px;
}

@media screen and (max-width: 700px)
{
    .menu-content
    {
        flex-direction: column;
    }

    .menu-content > img
    {
        width: 100%;
        max-width: 350px;
    }
}